@import 'src/mixins/font-style';

.title {
  @include font-style(700, 34px, 46.3px);
  margin-bottom: 13px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.infoWrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.jobTitle {
  @include font-style(400, 12px, 16.3px, var(--gray4b));
}

.dot {
  width: 3px;
  height: 3px;
  background: var(--gray6e);
  border-radius: 50%;
}

.timeLine {
  @include font-style(400, 12px, 16.3px, var(--gray6e));
}

.img {
  position: relative;
  left: -25px;
}

.description {
  margin-bottom: 20px;
  @include font-style(400, 18px, 32px, var(--gray6e) );
}

.subTitle {
  @include font-style(700, 28px, 38px);
  margin-bottom: 20px;
}

.likeBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.personalBlock {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 7px;
}

.name {
  @include font-style(700, 12px, 16.4px);
}

.comment {
  @include font-style(400, 16px, 28px);
  margin-bottom: 23px;
}